name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Haxe
        uses: HaxeFoundation/setup-haxe@v1.0.0
        
      - name: Install libs
        run: |
          haxelib install lime
          haxelib install openfl
          haxelib install flixel
          
      - name: Build APK
        run: lime build android -final
        
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: export/release/android/bin/*.apk
